#first {
    display: grid;
    grid-template-columns:repeat(20, 20px);
}

#first div {
    width: 20px;
    height: 20px;
    border: dashed rgb(28, 83, 97) 1px;
}

body {
    background: rgb(0, 23, 36);
    color: #fff;
    user-select: none;
    font-family: 'Press Start 2P', cursive;
}

#info {
    padding: 15px;
    display: flex;
    flex-direction: column;
}


.item {
    background-color: #f00;
    transition: background-color 0.2s ease-in;
}

.unit {
    background-color: #0f0;
}

.field {
    background-color: #000;
    transition: background-color 0.2s ease-in;
}

.play__field {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

button {
    margin: 10px 10px 10px 0px;
    padding: 7px;
    background-color: rgb(28, 83, 97);
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    outline: none;
}